<footer class="bg-primary text-white mt-5 p-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="mb-3">HellavorStore</h5>
                <p>&copy; <%= new Date().getFullYear() %> HellavorStore. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
